{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ショッピングサイト</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <ul>
        <li><img src="/media/logo.svg" alt="" width="150" /></li>
        <li><a href="../list/">商品一覧</a></li>
        <li><a href="../cart_list/">カートの中身を表示</a></li>
        <li><a href="../cart_reset/">カートを空にする</a></li>
        <li><a href="../order/">注文する</a></li>
      </ul>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      ©orcart 2016
    </footer>
  </body>
</html>
