{% extends 'base.html' %}
{% block content %}
  <h1 class="ttl">カート内の商品</h1>
  <table class="cart">
      <tr>
          <th>商品番号</th>
          <th>商品名</th>
          <th>個数</th>
          <th>単価</th>
          <th>小計</th>
      </tr>
  {% for product in products %}
      <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.number }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.total }}</td>
      </tr>
  {% endfor %}
      <tr>
          <td colspan="2"></td>
          <th colspan="2">合計</th>
          <th>￥{{ total }}</th>
      </tr>
  </table>

  <h1 class="ttl">お客様情報の入力</h1>
  <form action="../order_execute/" method="post">
  {% csrf_token %}
  <table class="cart adjust">
      <tr>
          <th width="150">お名前</th>
          <td>姓 <input name="last_name" type="text" id="last_name" size="50" class="name1">名 <input name="first_name" type="text" id="first_name" size="50" class="name2"></td>
      </tr>
      <tr>
          <th>郵便番号</th>
          <td><input name="postal_code" type="text" id="postal_code" size="50" class="full"></td>
      </tr>
      <tr>
          <th>都道府県</th>
          <td><input name="prefecture" type="text" id="prefecture" size="50" class="full"></td>
      </tr>
      <tr>
          <th>市区町村</th>
          <td><input name="city" type="text" id="city" size="50" class="full"></td>
      </tr>
      <tr>
          <th>番地など</th>
          <td><input name="street1" type="text" id="street1" size="50" class="full"></td>
      </tr>
      <tr>
          <th>建物名など</th>
          <td><input name="street2" type="text" id="street2" size="50" class="full"></td>
      </tr>
      <tr>
          <th>電話番号</th>
          <td><input name="tel" type="text" id="tel" size="50" class="full"></td>
      </tr>
      <tr>
          <th>メールアドレス</th>
          <td><input name="email" type="text" id="email" size="50" class="full"></td>
      </tr>
      <tr>
          <th>決済方法</th>
          <td>
          {% for payment in payments %}
              <label style="margin-right: 21px">
                  <input type="radio" name="payment" value="{{ payment.id }}" style="vertical-align: middle; margin-right: 5px;" />
                  {{ payment.name }}
              </label>
          {% endfor %}
          </td>
      </tr>
  </table>
  <input type="submit" value="注 文 す る" class="btn-order" />
  </form>
{% endblock content %}
