{% extends 'base.html' %}
{% block content %}
<section id="visual">
  <img src="/media/logo_visual.svg" alt="" width="210" />
</section>
  <h1 class="ttl">商品一覧</h1>
  <section class="list">
    {% for product in products %}
      <div class="item">
        <h1>{{ product.name }}</h1>
        <img src="../../media/{{ product.image }}" alt="" width="200" height="200" border="0" />
        <a href="../cart_add/{{ product.id }}" class="btn-cart">カートに入れる</a>
      </div>
    {% endfor %}
  </section>
{% endblock content %}
